$style: 'footer';
.#{$style} {
    padding: 50px 0 70px;

    position: relative;

    background: url('../img/bgn3.png') no-repeat center;
    background-size: cover;
    @media screen and (min-width: 600px) {
        padding: 100px 0 140px;
    }
    &__container {
        @include flex (center, center, column);
        
        margin-bottom: 48px;
    }
    &__text {
        max-width: 346px;
        
        text-align: center;
        margin-bottom: 46px;
    }
    &__row {
        @include flex (center, center, column);
        width: 100%;
        @media screen and (min-width: 600px) {
            @include flex (space-between);
        }
    }
    &__col {
        width: 100%;
        @media screen and (min-width: 600px) {
            max-width: 50%;
        }
    }
    &__form {
        @include flex (center, flex-start, column);
        width: 100%;
        
        margin-bottom: 20px;
        @media screen and (min-width: 600px) {
            width: 45%;
            margin-bottom: 0;
        }
    }
    &__form-input {
        width: 100%;
        max-width: 500px;
        height: 50px;

        resize: none;
        outline: none;
        border-top: inherit;
        border-bottom: inherit;
        border-right: inherit;
        border-left: 6px solid rgba($second-bg-color, 0.1);
        background-color: rgba($second-bg-color, 0.5);
        
        padding: 20px;
        margin-bottom: 14px;
        &::placeholder {
            @include text (15px, 700, $white)
        }
        &:focus {
            border-left: 6px solid $input-active;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &--big {
            min-height: 250px;
        }
    }
    &__btn {
        width: 100%;
        max-width: 500px;
        height: 50px;

        border: none;
        outline: none;
        
        box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.7);
        background-color: rgba($second-bg-color, 0.5);

        @include text ($medium-size, 300, $white);
        text-transform: uppercase;
        @include transition (background-color);
        @media screen and (min-width: 800px) {
            &:hover {
                background-color: darken(rgba($second-bg-color, 0.5), 10%);
                cursor: pointer;
            }
        }
        &:active {
            background-color: lighten(rgba($second-bg-color, 0.5), 5%);
        }
    }
    &__contact-wrapper {
        @include flex (flex-start, stretch, column);
        width: 100%;
        @media screen and (min-width: 600px) {
            display: block;
            width: 43%;
            margin-bottom: 0;
        }
    }
    &__contact-name {
        @include text ($smallest-size, 700, $dark-text-color);
        margin-bottom: 4px;
        @media screen and (min-width: 600px) {
            @include text ($text-size, 700, $dark-text-color);
        }
    }
    &__contact-info {
        @include text ($smallest-size, 400, $dark-text-color);
        @media screen and (min-width: 600px) {
            @include text ($text-size, 300, $dark-text-color);
            margin-bottom: 10px;
        }
    }
    &__bottom {
        width: 100%;
        height: 90px;

        position: absolute;
        bottom: 0;

        background-color: $dark-text-color;
    }
    &__bottom-container {
        @include flex (space-around, center);
        height: 100%;
        @media screen and (min-width: 600px) {
            @include flex (space-between, center);
        }
    }
    &__bottom-text {
        @include text (12px, 300, $bottom-text);
        max-width: 100px;
        @media screen and (min-width: 600px) {
            @include text (14px, 300, $bottom-text);
            max-width: 100%;
        }
        @media screen and (min-width: 510px) {
            @include text ($smallest-size, 300, $bottom-text);
            max-width: 100%;
        }
    }
    &__bottom-word {
        color: $linkn3-color;
    }
    &__bottom-link {
        @include text ($medium-size, 400, $bottom-text);
        font-family: $logo-font;

        @include transition (color);
        @media screen and (min-width: 600px) {
            @include text ($logo-small-size, 400, $bottom-text);
        }
        @media screen and (min-width: 800px) {
            &:hover {
                color: $white;
            }
        }
    }
}





