@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$main-font: 'Lato', sans-serif;
$title-font: 'Playfair Display', serif;

//font-sizes
$title-size: 42px;
$starting-letter-size: 110px;
$text-size: 18px;
$quote-size: 60px;
$quote-text-size: 24px;
$btn-size: 18px;

//colors
$white: #fff;
$black: #000;
$main-color: #171717;
$btn-color: #eaa258;