@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Sans&display=swap');

$title-color: #0EC8CB;
$subtitle-color: #898F99;
$tagline-color: #999999;
$text-color: #FFFFFF;
$hover-color: #0EC8CB;
$icon-color: #1B1B1B;
$hovericon-color: #FFFFFF;

$subtitle-size: 12px;
$title-size: 48px;
$tagline-size: 18px;
$descriptiontitle-size: 21px;
$text-size: 14px;

$main-font: 'PT Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;