@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$main-font: 'Montserrat', sans-serif;

//font-sizes
$H1100: 110px;
$H250: 25px;
$H230: 23px;
$H220: 22px;
$H580: 58px;
$H140: 14px;
$H130: 13px;
$H300: 30px;
$H190: 19px;

//colors
$peach: #FF7F7F;
$white: #ffffff;
$black: #000000;
