* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-size: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
}
body {
    font-family: $main-font;
    background-color: #F8F7Fa;
    overflow-x: hidden;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
section {
    width: 100%;
}
.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.text {
    @include text ($text-size, 300, $dark-text-color);
    &--white {
        @include text ($text-size, 300, $white);
    }
}
.title {
    @include text ($first-title, 700, $dark-text-color);
    text-align: center;
    @media screen and (min-width: 680px) {
        @include text ($titles-size, 700, $dark-text-color);
    }
    &--white {
        @include text ($first-title, 700, $white);
        text-align: center;
        @media screen and (min-width: 680px) {
            @include text ($titles-size, 700, $white);
        }
    }
    @keyframes rainbow {
        0% {
            color: #FF0000;
        }
        16% {
            color: #FF7F00;
        }
        32% {
            color: #FFFF00;
        }
        46% {
            color: #00FF00;
        }
        62% {
            color: #0000FF;
        }
        78% {
            color: #2E2B5F;
        }
        92% {
            color: #8B00FF;
        }
        100% {
            color: #FF0000;
        }
    }
    @keyframes spin {
        from {
            transform: rotateY(0deg);
        }
        to {
            transform: rotateY(360deg);
        }
    }
}
