//fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
$main-font: 'Raleway', sans-serif;
$logo-font: 'Pacifico', cursive;

//image
$img-path: '../img/';
//colors
$dark-text-color: #262626;
$white: #ffffff;
$linkn1-color: #FF6033;
$linkn2-color: #5585A2;
$linkn3-color: #F72B3B;
$btnn1-color: #96B92C;
$second-bg-color: #00C4C4;
$third-bg-color: #70BFFF;
$fourth-bg-color: #FFE92F;
$six-bg-color: #B07CF7;
$after-color: #9D9D9D;

//font-sizes
$logo-size: 50px;
$logo-small-size: 25px;
$small-size: 16px;
$first-title: 60px;
$titles-size: 90px;
$subscribe-size: 40px;
$text-size: 17px;
$medium-size: 20px;
$date-num-size: 32px;
$date-mon-size: 21px;
$smallest-size: 15px;