$style: 'booking-guide';
.#{$style} {
    background-color: $dark-grey;
    &__container {
        padding: 100px 15px 120px;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 40%;
            background: url('#{$img-path}/dots.png') no-repeat center;
            background-size: 60%;
            z-index: 1;
            position: absolute;
            bottom: 185px;
            right: 10px;
        }
    }
    &__list {
        @include flex (space-around, stretch);
    }
    &__list-item {
        z-index: 2;
        background-color: $dark-grey;
    }
    &__icon-wrapper {
        @include flex (center,center);
        width: 100%;
        
        margin-bottom: 30px;
    }
    &__icon {
        fill: $main-color;
        width: 58px;
        height: 57px;
        &--second {
            fill: $second-icon;
            width: 60px;
            height: 61px;
        }
        &--third {
            fill: $third-icon;
            width: 62px;
            height: 59px;
        }
    }
}