* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    min-height: 100vh;
    font-size: 100%;
}
body {
    @include flex(center,center);
    background-color: $background-color;
}
a {
    color: inherit;
    text-decoration: none;
}
.container {
    @include flex(center,center);
    min-width: 800px;

    padding: 0 15px;
    margin: auto;
}