@import url(//db.onlinewebfonts.com/c/60cfd8feda3dfa62c75ac67d4e32013f?family=Quicksand);
@import url(//db.onlinewebfonts.com/c/06f77d9f1347ee56798879b5fd577fb8?family=Quicksand-Bold);
$secondary-font: 'Quicksand';
$main-font: 'Quicksand-Bold';

//font-sizes
$head-size: 18px;
$label-size: 16px;
$small-size: 13px;
$btn-size: 17px;

//colors 
$background-color: #e5eeee;
$text-color: #fbf6e4;
$texthover-color: #e1c2f1;
$headborder-color: #e66a64;
$btn-color: #23ae92;
$bottom-text-color: #b9b9cc;
$after-color: #96c1da;