//fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@900&display=swap');
$btn-font: 'Open Sans', sans-serif;
$main-font: 'Raleway', sans-serif;
$titles-font: 'Roboto', sans-serif;

//colors
$orange-color: #FFCC00;
$main-color: #666666;
$text-color: #333333;

//font-sizes
$title-size: 60px;
$name-size: 36px;
$activity-size: 24px;
$subtitle-size: 18px;
$small-size: 14px;